//global styles for changing variable values

@import url('https://fonts.googleapis.com/css?family=Lato;400,700|Nunito:400,700');

$turquoise:#44ddd0;
$green:#27d7a1;
$light-green:#45f69e;
$light:#f8f8f8;

$family-sans-serif:"Nunita",sans-serif;
$primary:$green;
$link:$light-green;

$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

html{
    background:linear-gradient(to right top,$turquoise,$green);
}

html,body{
    height:100% ;
}

.centered-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-box
{
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}
.title
{
    font-family: 'Lato';
    font-size: 24x;
    text-transform: uppercase;
    letter-spacing: 2px;
}