<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new list
        </h1>
            <input #ListTitleInput class="input has-background-light is-medium" type="text" placeholder="Create a new list">
          <br><br>
              <div class="buttons is-right">
                  <button class="button is-medium" routerLink="/">Cancel</button>
                  <button class="button is-primary has-text-white is-medium" (click)="createList(ListTitleInput.value)">Create</button>
             </div>
    </div>
</div>
