<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary">Login</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #passwordInput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field is-pulled-right">
            <p class="control">
              <button class="button is-success has-text-white">
                Login
              </button>
            </p>
          </div>
          
    </div>
</div>